xml/validacion/PLANETAS.DTD

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT sistema-solar (planeta+)>
<!ELEMENT planeta (nombre, distancia, radio, gravedad?, rotacion?, orbita?, numero-satelites, satelite*)>
<!ATTLIST planeta
	enano (false | true) "false"> <!--w3schools.com/xml/xml_dtd_attributes.asp-->
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT distancia (#PCDATA)>
<!ELEMENT radio (#PCDATA)>
<!ELEMENT gravedad (#PCDATA)>
<!ELEMENT rotacion (#PCDATA)>
<!ATTLIST rotacion
	retrograda (false | true) "false">
<!ELEMENT orbita (#PCDATA)>
<!ELEMENT numero-satelites (#PCDATA)>
<!ELEMENT satelite (nombre, distancia, radio)>