xml/validacion/PLANETAS.XSD

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="tipoNombre">
	<xs:restriction base="xs:string">
		<xs:maxLength value="20"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="tipoRotacion">
	<xs:restriction base="xs:float">
	  <xs:minInclusive value="0"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="tipoDistancia">
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="tipoRadio">
	<xs:restriction base="xs:float">
		<xs:minInclusive value="0"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="sistema-solar">
    <xs:complexType>
      <xs:sequence>
	  
        <xs:element name="planeta" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              
			  <xs:element name="nombre" type="tipoNombre"/>
			  
			  <xs:element name="distancia" type="tipoDistancia"/>
			  
			  <xs:element name="radio" type="tipoRadio"/>
			  
              <xs:element name="gravedad" minOccurs="0">
			    <xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
              </xs:element>
			  
			  
              <xs:element name="rotacion" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="tipoRotacion">
                      <xs:attribute type="xs:boolean" name="retrograda" default="false"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="orbita">
			    <xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
              </xs:element>
			  
              <xs:element name="numero-satelites">
			    <xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
              </xs:element>
			  
              <xs:element name="satelite" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="tipoNombre" name="nombre"/>
                    <xs:element type="tipoDistancia" name="distancia"/>
                    <xs:element type="tipoRadio" name="radio"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  
            </xs:sequence>
            <xs:attribute type="xs:boolean" name="enano" default="false"/>
          </xs:complexType>
        </xs:element>
		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>